.Literature_container_rit {
  display: inline-block;
  vertical-align: top;
  margin-left: 18px;

  .Literature_container_rit_body {
    white-space: nowrap;
    overflow: hidden;
    width: 1058px;
  }
}
