.home_assets_type {
  margin-top: 80px;

  .home_assets_type_title {
    background-image: url("@/assets/img/home/asssets_type_title.png");
    width: 238px;
    height: 35px;
    margin: 0 auto;
  }

  .home_assets_type_list {
    margin-top: 60px;

    .home_assets_type_list_li {
      width: 650px;
      display: inline-block;
      vertical-align: middle;
      height: 310px;
      margin-right: 37px;
      background-size: cover;
      background-image: url("@/assets/img/home/home_assets_card.png");
      padding: 46px 36px;
      box-sizing: border-box;
      overflow: hidden;
      margin-bottom: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      .home_assets_type_list_li_title {
        font-size: 24px;
        color: #653C02;
        font-weight: bold;
      }

      .home_assets_type_list_li_info {
        font-size: 16px;
        margin-top: 20px;
        color: #102030;
        line-height: 2;
        box-sizing: border-box;
        height: 130px;
        width: 567px;
      }

      .home_assets_type_list_li_button {
        width: 138px;
        height: 51px;
        line-height: 51px;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 16px;
        background-image: url("@/assets/img/home/home_jiansuo_button.png");
        text-align: center;
      }

    }

  }
}
