.home_body_container {
  width: 1325px;
  margin: 88px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  .home_body_container_search {
    display: inline-block;
    vertical-align: top;

    .home_body_container_search_title {
      height: 46px;
      line-height: 46px;

      .home_body_container_search_title_line {
        height: 46px;
        margin-right: 20px;
        width: 8px;
        background-color: #653C02;
        display: inline-block;
        vertical-align: middle;
      }

      .home_body_container_search_title_font {
        font-weight: bold;
        font-size: 32px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .home_body_container_search_info {
      width: 668px;
      font-size: 18px;
      color: #653C02;
      line-height: 2;
      margin-top: 28px;
      font-weight: bold;
    }

    .home_body_container_search_button {
      width: 138px;
      height: 51px;
      background-image: url("@/assets/img/home/home_jiansuo_button.png");
      text-align: center;
      color: #FFFFFF;
      margin-top: 100px;
      line-height: 50px;
    }
  }

  .home_body_container_image {
    width: 575px;
    height: 340px;
    margin-left: 90px;
    display: inline-block;
    vertical-align: top;
    background-image: url("@/assets/img/home/home_jiansuo_back.png");

    .home_body_container_image_border {
      width: 551px;
      height: 316px;
      margin: 12px auto 0;
      background-image: url("@/assets/img/home/back_jiansuo_border.png");
    }
  }
}


.home_body_list {
  width: 1337px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .home_body_list_box {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;

    .home_body_list_box_image {
      height: 218px;
      width: 433px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("@/assets/img/home/home_relation.png");
    }

    .home_body_list_box_title {
      font-size: 24px;
      color: #102030;
      margin: 18px 0;
    }
  }
}


.home_body_knowledge_container {
  width: 1337px;
  margin: 64px auto 0;

  .home_body_knowledge_title {
    width: 238px;
    height: 40px;
    margin: 0 auto;
    background-image: url("@/assets/img/home/knowledgeTitle.png");
  }

  .home_body_knowledge_head {
    overflow: hidden;
    width: 1337px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    .home_body_knowledge_button_group {
      margin-top: 78px;
      height: 46px;
      line-height: 46px;
      display: inline-block;
      vertical-align: middle;

      .home_body_knowledge_button {
        width: 114px;
        display: inline-block;
        vertical-align: middle;
        height: 46px;
        background-repeat: no-repeat;
        background-image: url("@/assets/img/home/knowledge_noactive.png");
        background-position: center center;
        color: #FFFFFF;
        font-size: 18px;
        text-align: center;
        line-height: 46px;
        user-select: none;
        cursor: pointer;
        margin-right: 14px;

        &:hover {
          background-image: url("@/assets/img/home/know_button.png");
        }
      }
    }

    .home_body_knowledge_head_radio_group {
      height: 46px;
      line-height: 46px;
      display: inline-block;
      vertical-align: middle;
      margin-top: 78px;

      label {
        cursor: pointer;
        margin-right: 30px;

        .home_body_knowledge_head_radio {
          display: inline-block;
          margin: 0;
          padding: 0;
          margin-right: 10px;
          vertical-align: middle;
        }

        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }


  .home_body_knowledge_next {
    margin-top: 44px;
    text-align: center;

    .home_body_knowledge_next_button {
      width: 138px;
      height: 51px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      background-size: contain;
      background-image: url("@/assets/img/home/home_jiansuo_button.png");
      background-repeat: no-repeat;
      text-align: center;
      line-height: 51px;
      color: #FFFFFF;

      &:first-child {
        margin-right: 14px;
      }
    }
  }




}
