.home_body_container {
  width: 1325px;
  margin: 88px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  .home_body_container_search {
    display: inline-block;
    vertical-align: top;

    .home_body_container_search_title {
      height: 46px;
      line-height: 46px;

      .home_body_container_search_title_line {
        height: 46px;
        margin-right: 20px;
        width: 8px;
        background-color: #653C02;
        display: inline-block;
        vertical-align: middle;
      }

      .home_body_container_search_title_font {
        font-weight: bold;
        font-size: 32px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .home_body_container_search_info {
      width: 668px;
      font-size: 18px;
      color: #653C02;
      line-height: 2;
      margin-top: 28px;
      font-weight: bold;
    }

    .home_body_container_search_button {
      width: 138px;
      height: 51px;
      background-image: url("@/assets/img/home/home_jiansuo_button.png");
      text-align: center;
      color: #FFFFFF;
      margin-top: 100px;
      line-height: 50px;
    }
  }

  .home_body_container_image {
    width: 575px;
    height: 340px;
    margin-left: 90px;
    display: inline-block;
    vertical-align: top;
    background-image: url("@/assets/img/home/home_jiansuo_back.png");

    .home_body_container_image_border {
      width: 551px;
      height: 316px;
      margin: 12px auto 0;
      background-image: url("@/assets/img/home/back_jiansuo_border.png");
    }
  }
}


.home_body_list {
  width: 1337px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .home_body_list_box {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;

    .home_body_list_box_image {
      height: 218px;
      width: 433px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("@/assets/img/home/home_relation.png");
    }

    .home_body_list_box_title {
      font-size: 24px;
      color: #102030;
      margin: 18px 0;
    }
  }
}


.home_body_knowledge_container {
  width: 1337px;
  margin: 64px auto 0;

  .home_body_knowledge_title {
    width: 238px;
    height: 40px;
    margin: 0 auto;
    background-image: url("@/assets/img/home/knowledgeTitle.png");
  }

  .home_body_knowledge_head {
    overflow: hidden;
    width: 1337px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    .home_body_knowledge_button_group {
      margin-top: 78px;
      height: 46px;
      line-height: 46px;
      display: inline-block;
      vertical-align: middle;

      .home_body_knowledge_button {
        width: 114px;
        display: inline-block;
        vertical-align: middle;
        height: 46px;
        background-repeat: no-repeat;
        background-image: url("@/assets/img/home/knowledge_noactive.png");
        background-position: center center;
        color: #FFFFFF;
        font-size: 18px;
        text-align: center;
        line-height: 46px;
        user-select: none;
        cursor: pointer;
        margin-right: 14px;

        &:hover {
          background-image: url("@/assets/img/home/know_button.png");
        }
      }
    }

    .home_body_knowledge_head_radio_group {
      height: 46px;
      line-height: 46px;
      display: inline-block;
      vertical-align: middle;
      margin-top: 78px;

      label {
        cursor: pointer;
        margin-right: 30px;

        .home_body_knowledge_head_radio {
          display: inline-block;
          vertical-align: middle;
        }

        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .home_body_knowledge_box {
    margin-top: 48px;

    .home_body_knowledge_box_container {
      display: inline-block;
      vertical-align: middle;
      width: 334px;
      height: 290px;
      border-right: 1px solid rgba(0, 0, 0, 0.16);
      padding: 20px 30px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        border-top: 1px solid rgba(0, 0, 0, 0.16);
      }

      &:nth-child(4n+1) {
        border-left: 1px solid rgba(0, 0, 0, 0.16);
      }

      .home_body_knowledge_box_header {
        .home_body_knowledge_box_header_left {
          height: 137px;
          display: inline-block;
          vertical-align: top;

          .home_body_knowledge_box_title {
            font-size: 24px;
            display: inline-block;
            vertical-align: middle;
            color: #653F18;
            font-weight: bold;
            line-height: 137px;

            &:before {
              position: absolute;
              font-size: 80px;
              color: rgba(178, 128, 108, 0.3);
              content: "D";
              margin-left: -6px;
              margin-top: -20px;
            }
          }

          .home_body_knowledge_icon {
            width: 24px;
            height: 24px;
            background-image: url("@/assets/img/home/knowledge_search_icon.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            margin-left: 18px;
            display: inline-block;
            vertical-align: middle;
          }
        }

        .home_body_knowledge_box_header_rit {
          display: inline-block;
          vertical-align: top;
          float: right;

          .home_body_knowledge_box_header_left_icon {
            width: 18px;
            height: 18px;
            background-position: center center;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            background-image: url("@/assets/img/home/knowEyes.png");
          }

          .home_body_knowledge_box_header_left_num {
            color: #999999;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      .home_body_knowledge_box_info {
        .home_body_knowledge_box_info_detail {
          line-height: 2;
          color: #102030;
          font-size: 16px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          white-space: normal;

          span {
            margin-right: 10px;
            color: #999999;
          }
        }
      }
    }
  }

  .home_body_knowledge_next {
    margin-top: 44px;
    text-align: center;

    .home_body_knowledge_next_button {
      width: 138px;
      height: 51px;
      display: inline-block;
      vertical-align: middle;
      background-size: contain;
      background-image: url("@/assets/img/home/home_jiansuo_button.png");
      background-repeat: no-repeat;
      text-align: center;
      line-height: 51px;
      color: #FFFFFF;

      &:first-child {
        margin-right: 14px;
      }
    }
  }

  .home_body_wenxian {
    width: 1337px;
    margin: 63px auto 0;
    white-space: nowrap;

    .home_body_wenxian_title {
      background-image: url("@/assets/img/home/home_back_wenxian_title.png");
      height: 40px;
      width: 238px;
      margin: 0 auto;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .home_body_wenxian_body {
      margin: 63px auto 0;
      justify-content: space-between;

      .home_body_wenxian_body_arrow {
        background-image: url("@/assets/img/home/home_jiansuo_arrow.png");
        height: 65px;
        width: 65px;
        display: inline-block;
        vertical-align: ideographic;
      }

      .home_body_wenxian_body_list {
        display: inline-block;
        vertical-align: middle;
        width: 1041px;
        height: 474px;
        overflow: hidden;

        .home_body_wenxian_body_list_view {
          width: 292px;
          height: 474px;
          margin-right: 82px;
          background-image: url("@/assets/img/home/home_wenxian_image.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          display: inline-block;
          vertical-align: middle;

          &:nth-child(3n) {
            margin-right: 0;
          }

          .home_body_wenxian_body_list_view_image {
            width: 200px;
            height: 270px;
            background-image: url("@/assets/img/home/001.jpg");
            background-size: cover;
            margin: 53px auto 0;
          }

          .home_body_wenxian_body_list_view_title {
            font-size: 18px;
            box-sizing: border-box;
            font-weight: bold;
            margin-top: 14px;
            padding: 0 46px;
            color: #683F18;
          }

          .home_body_wenxian_body_list_view_user {
            margin-top: 14px;
            font-size: 18px;
            color: #683F18;
            box-sizing: border-box;
            padding: 0 46px;
          }

          .home_body_wenxian_body_list_view_date {
            padding: 0 46px;
            box-sizing: border-box;

            .home_body_wenxian_body_list_view_date_text {
              font-size: 14px;
              color: #102030;
              margin-top: 14px;
              display: inline-block;
              vertical-align: middle;
            }

            .home_body_wenxian_body_list_view_date_pre {
              display: inline-block;
              vertical-align: middle;
              white-space: nowrap;
              margin-left: 20px;
              margin-top: 10px;

              .home_body_wenxian_body_list_view_date_pre_image {
                background-image: url("@/assets/img/home/knowEyes.png");
                height: 18px;
                width: 18px;
                display: inline-block;
                vertical-align: middle;
              }

              .home_body_wenxian_body_list_view_date_pre_title {
                color: #999999;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }

    .home_body_wenxian_more_body {
      width: 138px;
      height: 51px;
      background-image: url("@/assets/img/home/home_jiansuo_button.png");
      color: #FFFFFF;
      text-align: center;
      line-height: 51px;
      font-size: 16px;
      margin: 60px auto 0;
    }
  }

  .home_chart_container {
    .home_chart_container_title {
      background-image: url("@/assets/img/home/home_chat_title.png");
      width: 238px;
      height: 40px;
      background-repeat: no-repeat;
      margin: 76px auto 0;
    }

    .home_chart_container_body {
      background-image: url("@/assets/img/home/home_chart_back.png");
      width: 100%;
      height: 570px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .home_chart_container_arrow {
        width: 65px;
        height: 65px;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        background-image: url("@/assets/img/home/back_chart_arrow_icon.png");
      }

      .home_chart_container_list {
        width: 1040px;
        margin-right: 82px;
        margin-left: 82px;
        height: 461px;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;

        .home_chart_container_list_li {
          width: 292px;
          display: inline-block;
          vertical-align: middle;
          padding-top: 24px;
          box-sizing: border-box;
          margin-right: 82px;

          &:nth-child(3n) {
            margin-right: 0;
          }

          .home_chart_container_list_li_image_card {
            background-color: #F2D6BC;

            .home_chart_container_list_li_image {
              width: 241px;
              height: 320px;
              margin: 0 auto;
              background-image: url("@/assets/img/home/001.jpg");
            }


          }

          .home_chart_container_list_li_type {
            margin-top: 18px;
            display: inline-block;
            vertical-align: middle;
            height: 40px;
            line-height: 40px;
            width: 292px;

            .home_chart_container_list_li_type_title {
              color: #999999;
              font-size: 16px;
              float: left;

              span {
                margin-left: 24px;
                color: #102030;
              }
            }

            .home_chart_container_list_li_type_pre {
              display: inline-block;
              vertical-align: middle;
              white-space: nowrap;
              float: right;
              height: 40px;
              line-height: 40px;

              .home_chart_container_list_li_type_pre_icon {
                background-image: url("@/assets/img/home/knowEyes.png");
                height: 18px;
                width: 18px;
                display: inline-block;
                vertical-align: middle;
              }

              .home_chart_container_list_li_type_pre_number {
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                color: #999999;
              }
            }

          }

          .home_chart_container_list_li_title {
            font-size: 20px;
            color: #683F18;
            font-weight: bold;
          }
        }
      }
    }

    .home_chart_container_button {
      background-image: url("@/assets/img/home/home_jiansuo_button.png");
      width: 138px;
      height: 51px;
      line-height: 51px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      margin: 60px auto 0;
      color: #FFFFFF;
    }
  }

  .home_assets_type {
    margin-top: 80px;

    .home_assets_type_title {
      background-image: url("@/assets/img/home/asssets_type_title.png");
      width: 238px;
      height: 35px;
      margin: 0 auto;
    }

    .home_assets_type_list {
      margin-top: 60px;

      .home_assets_type_list_li {
        width: 650px;
        display: inline-block;
        vertical-align: middle;
        height: 310px;
        margin-right: 37px;
        background-size: cover;
        background-image: url("@/assets/img/home/home_assets_card.png");
        padding: 46px 36px;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 30px;

        &:nth-child(2n) {
          margin-right: 0;
        }

        .home_assets_type_list_li_title {
          font-size: 24px;
          color: #653C02;
          font-weight: bold;
        }

        .home_assets_type_list_li_info {
          font-size: 16px;
          margin-top: 20px;
          color: #102030;
          line-height: 2;
          height: 121px;
          width: 567px;
        }

        .home_assets_type_list_li_button {
          width: 138px;
          height: 51px;
          line-height: 51px;
          color: #FFFFFF;
          cursor: pointer;
          font-size: 16px;
          background-image: url("@/assets/img/home/home_jiansuo_button.png");
          text-align: center;
        }

      }

    }
  }
}
